@import 'mixins';
@import 'vars';

$color-preloader-bg: #f7f7f7;
$color-preloader-border: #333;
$color-preloader-gap: #999;

body {
  background: $body-bg;
}

.project-type__img {
  animation: flip 10000ms infinite;
  height: 100px;
}

@-webkit-keyframes flip {
  0% {
    transform: scaleX(1);
  }

  90% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(-1);
  }
}

@keyframes flip {
  0% {
    transform: scaleX(1);
  }

  90% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(-1);
  }
}

.vue-app-preload {
  background: $color-preloader-bg;
  border-radius: 8px;
  color: transparent;
  height: 300px;
  position: relative;
  width: 100%;

  &:before {
    animation: preloader 1000ms infinite;
    border: 6px solid $color-preloader-border;
    border-radius: 50%;
    border-right-color: $color-preloader-gap;
    border-top-color: $color-preloader-gap;
    bottom: 0;
    content: '';
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }
}

@-webkit-keyframes preloader {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes preloader {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(360deg);
  }
}
