@import '_mixins';
@import '_vars';

body {
  background: $body-bg;
}

.project-type__img {
  min-height: 400px;
  animation: flip 10000ms infinite;
}

@-webkit-keyframes flip {
  0% {
    transform: scaleX(1);
  }

  90% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(-1);
  }
}

@keyframes flip {
  0% {
    transform: scaleX(1);
  }

  90% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(-1);
  }
}

.vue-app-preload {
  color: transparent;
  background: #f7f7f7;
  border-radius: 8px;
  height: 300px;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    animation: preloader 1000ms infinite;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 6px solid #333;
    border-top-color: #999;
    border-right-color: #999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

@-webkit-keyframes preloader {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes preloader {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(360deg);
  }
}
