@import 'mixins';
@import 'vars';
@import '../../app/components/vue-robust-table/vue-robust-table';

.project-type {
  &__title {
    margin-bottom: 28px;
    margin-top: 54px;
  }
}

.table-container {
  margin: 42px auto;
  max-width: 1200px;
}
