.example-component {
  background: $color-white;
  padding: 64px 100px 50vh;

  &__title {
    color: $color-light-grey;
    font-size: 42px;
  }
}


.todo-input {
  -webkit-apperance: none;
  border: 1px solid $color-light-grey;
  border-radius: 4px;
  box-shadow: none;
  font-size: 32px;
  line-height: 36px;
  margin: 100px auto 10px;
  padding: 8px 16px;
  width: 60vh;

  &:focus {
    border-color: $color-blue;
    box-shadow: inset 1px 1px 1px $color-black;
    outline: none;
  }
}

.todo-list {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 60vh;

  &__item {
    @include noselect;
    color: $color-grey;
    cursor: pointer;
    font-size: 32px;
    line-height: 46px;
    padding-left: 38px;
    position: relative;

    &:hover {
      color: $color-black;
    }

    &:before {
      background: $color-light-grey;
      border: 2px solid $color-light-grey;
      border-radius: 50%;
      content: '';
      height: 22px;
      left: 0;
      position: absolute;
      top: 14px;
      width: 22px;
    }
  }

  &__item_completed {
    color: $color-light-grey;
    text-decoration: line-through;

    &:hover {
      color: $color-light-grey;
    }

    &:before {
      background: $color-grey;
    }
  }
}
