{% extends 'base.html' %}
{% load static %}

{% block head %}
  {% include 'common/head.html' with title="Index page" %}
{% endblock %}

{% block content %}
  <center class="project-type">
    <h1 class="project-type__title">vue-robust-table</h1>
    <img class="project-type__img" src="{% static 'img/vue.png' %}" alt="vue">
    <p>Vue component for creation complex robust datatables.</p>

    {% verbatim %}
    <div class="vue-app-preload" id="app">
      <button @click="toggleHeader()">Toggle table header</button>
      <hr>

      <div class="table-container">
        <vue-robust-table
          :rows="dataTableRows"
          :show-table-header="dataTableSettings.tableHeader"
          :show-cells-borders="dataTableSettings.showCellsBorders">
        </vue-robust-table>
      </div>



    </div>
    {% endverbatim %}
  </center>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/main-page.css' %}">
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/vendors.js' %}" ></script>
  <script src="{% static 'js/mainPage.js' %}"></script>
{% endblock %}
